language: node_js
node_js:
  - "7.4.0"
script:
  - npm run build
after_success:
  - surge --project ./build/ --domain shrine.edwardessing.com
# after_success:
#   # - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && npm run deploy
#   # - test $TRAVIS_PULL_REQUEST && npm run deploy-pr -- --domain pr-$TRAVIS_PULL_REQUEST.shrine.edwardessing.surge.sh
#   - surge --project https://github.com/edwardessing/shrine/tree/master/build --domain shrine.edwardessing.surge.sh