doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='shortcut', href='/img/cs-fav.ico')
		link(rel='icon', href='/img/cs-fav.ico')
		link(rel='stylesheet', href='/css/index.css')

		script(src='/js/jquery.min.js')
		script(src='/js/clock.js')
		script(src='/js/script.js')

		block title
			title Shrine

	body
		include ./_nav
		block content
		block script